<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Product Listing page!</title>
    </head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
       <table>
       <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
       </tr>
       <tr th:each="product : ${products}">
	        <td th:text="${product.id}">1</td>
	        <td><a href="#" th:text="${product.name}">Product Name ...</a></td>
	        <td th:text="${product.description}">Description ...</td>
	        <td th:text="${product.price}">Price...</td>
	        <td th:text="${product.quantity}">Inventory...</td>
	        <td>
			    <a th:href="@{'/productListing/add/'+${product.id}}">
			        <span>Add</span>
			    </a>
			</td>
    	</tr>
    	</table>
        <p>Click <a th:href="@{/cartview}">here</a> to view cart</p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>